{% load admin_urls %}

{% if cl and cl.model_admin.show_add_link %}
    {% url cl.opts|admin_urlname:"add" as add_url %}

    {% if add_url %}
        <div class="flex flex-row items-center">
            <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink bg-primary-600 flex items-center h-[38px] justify-center -my-1 rounded-full w-[38px] hover:bg-primary-600/80" title="Добавить" aria-label="Добавить">
                <span class="material-symbols-outlined text-white">add</span>
            </a>
        </div>
    {% endif %}
{% endif %}
